snippet bye "My mail signature"
Good bye, Sir. Hope to talk to you soon.
- Arthur, King of Britain
endsnippet




snippet snip "My mail signature" b
snippet $1 "desc" b

`!p print "endsnippet"`

endsnippet
