snippet d
if(${1}) die("${2}");
endsnippet

# Function
snippet fun
${1:void} ${2:function_name}(${3})
{
	${4:/* code */}
}
endsnippet
# Function Declaration
snippet fund
${1:void} ${2:function_name}(${3});${4}
endsnippet
# Typedef
snippet td
typedef ${1:int	} ${2:MyCustomType};${3}
endsnippet
